body{
    font-family: 'Water Brush', cursive;
    margin:0px;
}
.masud-world{
   display: flex;  
}
.haf-width{
    width: 50%;
    margin-left: 90px;
}
.haf-width h1{
    font-size: 50px;
}
.masud-world h3{
    margin-bottom: 40px;
}
.masud-world p{
    margin-bottom: 40px;
}
.haf-width span{
    color:#FFA500 ;
}
.haf-width img{
    width: 100%;
}
.haf-width a{
    text-decoration: none;
    background-color: #FF7152;
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.masud-world{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.big-dream{
    display: flex;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
    background-position: right;
}
.big-dream p{
    margin-bottom: 40px;
}
.my-pic2{
    margin-left: -140px;
}
.full-stack{
    margin-left:60px;
    font-size: 40px;
}
.baby-stack{
    display: flex;
    margin-left: 10%;
}
#stack-web{
    width: 30%;
    margin-left: 30px;
    padding: 30px; 
    box-shadow: 0px 5px 10px 5px gray;
    margin: 50px;
    border-left: 5px solid tomato;
    background-color: antiquewhite;
    border-radius: 4px;
}
#stack-web h3{
    color: #FFB626;
}
#baby-web{
    width: 30%;
    border-left: 30px;
    padding: 30px;
    box-shadow: 0px 5px 10px 5px gray;
    margin: 50px;
    border-left: 5px solid blue;
    border-radius: 4px;
}
#baby-web h3{
    color: #FFB626;
}
.Experiences{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 50px;
}
.footer{
    text-align: center;
    margin-bottom: 50px;
}